<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<body style="width: 1000px;">
    <h1 style="font-family: sans-serif; text-align: center">Welcome!</h1>
    <div style="width:1000px; display:flex; flex-wrap: wrap; justify-content: center;">
        {% for x in range(0, num): %}    
        <div style="background-color: {{ color }} ; height:200px; width:200px;
        margin: 10px; border:2px solid black; border-radius: 12px;">
        </div>
        {% endfor %}
    </div>    
</body>
</html>